:root{
    --bg-color: #eae7dc;
    --text-color: #000000;
    --page-color: #eae7dc;
    --fill-color: #e85a4f;
    --hello: #8e8d8a;
    --description: #e85a4f;
    --name: #e98074;
}

[data-theme="dark"] {
    --bg-color: #1a1a1d;
    --text-color: #ffffff;
    --page-color: #1a1a1f;
    --fill-color: #950740;
    --description: #eae7dc;
    --hello: #ffffff;
    --name: #c3073f;
}

.App{
    background-color: var(--page-color);
    height: 100%;
    width: 100%;
}

.navbar .navname{
    font-size: x-large;
    margin-left: 20px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar .navname:visited{
    color: var(--text-color);
}
.navbar .navname:hover{
    color: var(--name);
}

.navbar .mr-auto .link{
    margin-left: 20px;
    font-size: large;
    color: var(--text-color);
}
.navbar .mr-auto .link:visited{
    color: var(--text-color);
}
.navbar .mr-auto .link:hover{
    color: var(--name);
}

.dark{
    color: #8e8d8a;
    size: 40px;
}

.navbar{
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 15px;
}
.text{
    color: var(--text-color);
}
.hello-img{
    margin-top: 100px;
    width: 800px;
}
.display-3{
    color: var(--hello);
}

.lead{
    color: var(--description);
    font-size: xx-large;
    font-weight: 300;
}
code{
    font-family: Helvetica, Arial, sans-serif;
    color: var(--name);
}
.hello{
    margin-top: 80px;
}
.card{
    background-color: transparent;
    color: var(--text-color);
    padding: 10px;
    border: none;
}
.a{
    padding-left: 18px;
    padding-right: 10px;
}
.connect-img{
    padding-bottom: 9px;
}